.body {
  margin: 0;
  padding: 0;
  max-width: 595px;
  margin: 0 auto;
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: $lightgray-text;
}




