.dynamics__title {
  margin-bottom: 8px;
}

.dynamics__description {
  margin: 0;
  margin-bottom: 5px;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
}

.dynamics__table {
  width: 100%;
  margin-bottom: 30px;
  border-collapse: collapse;
  background-image: url("../../img/watermark-logo.png");
  background-repeat: no-repeat;
  background-position: center;
}

.dynamics__table-row:nth-of-type(2n) {
  background-color: rgba(2, 136, 209, 0.05);
}

.dynamics__table-heading {
  height: 30px;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: $grayblue-text;
}

.dynamics__table-data {
  height: 30px;
  box-sizing: border-box;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  color: $grayblue-text;
  text-align: center;
  border: 1px solid #C2CFE0;

  &--head {
    width: 140px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: left;
    padding-left: 28px;
  }
}

.dynamics__steps {
  display: inline-block;
  margin-left: 20px;
  padding-top: 2px;
  padding-right: 5px;
  padding-bottom: 2px;
  padding-left: 4px;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #ffffff;
  background-color: $lightgray-text;
  border-radius: 2px;

  &--up {
    background-color: $green;
  }

  &--down {
    background-color: $red;
  }
}

.dynamics__period-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.dynamics__period-item {
  position: relative;
  margin-right: 23px;
  padding-left: 23px;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: $grayblue-text;

  &:last-of-type {
    margin-right: 0px;
  }

  &::before {
    position: absolute;
    content: "";
    top: -1px;
    left: 4px;
    width: 13px;
    height: 14px;
  }

  &--last::before {
    background-color: #1DE9B6;
  }

  &--compared::before {
    background-color: #0288D1;
  }
}

.dynamics__chart {  
  width: 512px;
  height: 212px;
}

