.page-footer {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;    
  padding-right: 62px;
  padding-left: 62px;
  margin-top: auto;
  margin-bottom: 32px;
  box-sizing: border-box;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
}

.page-footer__pagination {
  margin: 0;
}


