.printpage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;  
  margin: 0;
  padding: 0;  
  height: 1682px;
  box-sizing: border-box;

  &--title {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &::before {
      position: absolute;
      content: "";
      right: 0;
      bottom: 0;
      width: 454px;
      height: 370px;
      background-image: url("../../img/watermark-title.png");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}






