.project {
  margin: 0;
  padding: 0;
  margin-bottom: 29px;
}

.project__title {
  margin-bottom: 5px;
}

.project__list {
  display: table;
  margin: 0;
  padding: 0;
  list-style: none;
}

.project__item {
  display: table-row;
}

.project__feature {
  display: table-cell;
  width: 165px;
  height: 25px;
  vertical-align: bottom;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: $grayblue-text;
}

.project__value {
  position: relative;
  display: table-cell;
  width: 165px;
  height: 25px;
  vertical-align: bottom;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: $grayblue-text;
  text-decoration: none;
}

.flag {
  padding-left: 21px;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 2px;
    width: 16px;
    height: 10px;
    background-image: url("../../img/flags-sprite.png");
    background-size: 200%;
    background-repeat: no-repeat;
  }

  &--gb::before {
    background-position: -16px 0;
  }

  &--germany::before {
    background-position: 0 0;
  }
}

