.titlebox {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titlebox__image {
  width: 223px;
  height: 90px;
  margin-bottom: 34px;
}

.titlebox__heading {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  color: $grayblue-text;
}

.titlebox__descr {
  margin-bottom: 14px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: $grayblue-text;
}

.titlebox__link {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: $link-text;
  text-decoration: none;
}

.titlebox__date {
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: $grayblue-text;
}
