@media print {
  html {
    margin: 0;
    padding: 0;    
  } 

  body {    
    margin: 0;
    padding: 0;        
  }  
    
  .printpage {
    width: 595px;
    height: 842px;           
    overflow: hidden;
    margin: 0;    
    page-break-after: always;
  }
  
}


